{% extends "base.html" %}
{% block title %}My Goals{% endblock %}
{% block body %}
<div class="container text-center mt-5">
  <h1>Welcome, {{ username }}!</h1>
  <h2>Be a man with goals and purpose. Do 30 pushups now!</h2>
  <div class="row mt-5">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Set Your Goals</h3>
          <p class="card-text">Achieve your short and long term goals by breaking them into smaller habits/processes stacked one over the other.</p>
          <a href="/" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
